Contents 
1. Importing libraries 
2. Importing data 
3. Checking and cleaning data

1. Importing libraries

In [1]:
import numpy as np 
import pandas as pd

2. Importing data

In [11]:
import_df = pd.read_excel('Raw_Data.xlsx',sheet_name='Main',header=[0])

#Transpose 
import_df = import_df.T

#Reset index 
import_df = import_df.reset_index()

#Set the first column to 'State'
import_df.columns = ['State']+list(import_df.iloc[0,1:])

#Drop the first row 
import_df = import_df.iloc[1:]

import_df.drop(['Overview'],axis=1)

import_df.head()

,State,Overview,Total Population 2021,Population Growth or Decline 2010 to 2021,Households 2020,Labor Force (persons) Ann. Avg. 2021,Unemployment Rate Ann. Avg. 2021,Per Capita Personal Income 2021,Median Household Income 2020,Poverty Rate 2020,...,Unemployment Rate 10-Year Pct. Chg,Educational Attainment in 2020,Total Population 25 and Older,Less than 9th Grade,"9th to 12th, No Diploma",High School Graduate (includes equiv.),"Some College, No Degree",Associate Degree,Bachelor's Degree,"Graduate, Professional or Doctorate Degree"
1,Alabama,NaN,5039877.0,0.054,1888504.0,NaN,NaN,49769.0,53958.0,14.9,...,NaN,NaN,3344006.0,133650.0,305297.0,1014342.0,721609.0,292064.0,546674.0,330370.0
2,Alaska,NaN,732673.0,0.032,255173.0,NaN,NaN,65813.0,79961.0,9.6,...,NaN,NaN,483436.0,11513.0,21663.0,137486.0,125645.0,42162.0,90161.0,54806.0
3,Arizona,NaN,7276316.0,0.138,2643430.0,NaN,NaN,55487.0,64652.0,12.8,...,NaN,NaN,4846056.0,248570.0,339349.0,1151988.0,1208298.0,429153.0,911228.0,557470.0
4,Arkansas,NaN,3025891.0,0.038,1170544.0,NaN,NaN,50625.0,51146.0,15.2,...,NaN,NaN,2026722.0,95403.0,164957.0,686812.0,445268.0,151587.0,308648.0,174047.0
5,California,NaN,39237836.0,0.053,13103114.0,NaN,NaN,76614.0,83001.0,11.5,...,NaN,NaN,26665143.0,2367996.0,1918542.0,5431385.0,5566520.0,2123827.0,5764827.0,3492046.0

2.1 Identify all the columns with NaN values and reconcile

In [8]:
nan_columns = import_df.isna().any()
nan_columns = nan_columns[nan_columns].index.tolist()

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
50    NaN
Name: Overview, dtype: object